<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - FreshMind</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav class="navbar">
        <div class="company-name">
            <a href="./home.html">FreshMind</a>
        </div>
        <div class="navigation">
            <a href="./home.html">Home</a>
        </div>
    </nav>
</header>

<div class="login-container">
    <h1>Login to FreshMind</h1>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="Member">Member</option>
            <option value="Admin">Admin</option>
            <option value="Doctor">Doctor</option>
        </select>
        <div class="submit-area">
            <button type="submit" class="login-button">Login</button>
            <p>Don't have an account? <a href="signup.html">Signup</a></p>
        </div>
    </form>
</div>
</body>
</html>
