<footer class="footer">
    <div class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or need support, feel free to contact us at <a href="mailto:info@mentalhealthsupport.com">info@mentalhealthsupport.com</a>.</p>
    </div>
    <div class="social-icons">
        <a href="#" class="social-icon"><img src="/images/email.png" alt="Email"><p>Email</p></a>
        <a href="#" class="social-icon"><img src="/images/instagram.png" alt="Instagram"><p>Instagram</p></a>
        <a href="#" class="social-icon"><img src="/images/facebook.png" alt="Facebook"><p>Facebook</p></a>
        <a href="#" class="social-icon"><img src="/images/twitter.png" alt="Twitter"><p>Twitter</p></a>
    </div>
    <a href="/contact" class="button">Contact Page</a>
</footer>