<header>
    <nav class="navbar">
        <div class="company-name">
            <a href="./home.html">FreshMind</a>
        </div>
        <ul class="navigation">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./online_res.html">Online Resources</a></li>
            <li><a href="./book_session.html">Book A Session</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
            <li><a href="./feedback.html">Feedback</a></li>
        </ul>
        <div class="auth-buttons">
            <a href="/auth/signup" class="signup-button">Sign Up</a>
            <a href="/auth/login" class="login-button">Login</a>
        </div>
    </nav>
</header>