:root{
    --button-col:#800000;
    --button-bg-col:#FFF8C9;
    --button-bg-col-hover:#fff8c9ac;
    --section-bg-col-1:#DFCCFB;
    --section-col-1:#F6F4EB;
    --section-bg-col-2:#F6F4EB;
    --section-col-2:#DFCCFB;
    --font-heading:'Alegreya Sans SC', sans-serif;
    --font-body:'Source Sans 3', sans-serif;
    --heading-col:#800000;
    --heading-text:#f74646;

}
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--heading-text);
}
/* Navbar Styles */
header {
    background-color: var(--section-bg-col-1);

    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.company-name a {
    text-decoration: none;
    color: var(--heading-col);
    font-weight: bold;
    font-size: 24px;
    font-family: var(--font-heading);
}

.navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: var(--heading-text);
    font-weight: bold;
}

.auth-buttons {
    display: flex;
}

.signup-button, .login-button {
    background-color: var(--button-bg-col);
    color: var(--button-col);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color 0.3s;
    font-family: var(--font-heading);
}

.signup-button:hover, .login-button:hover {
    background-color: var(--button-bg-col-hover);
}

/* Hero Section Styles */
.hero {
    position: relative;
    text-align: center;
    color: white;
    padding: 250px 0 150px 0;
    overflow: hidden; /* Prevent content overflow */
    color: #800000;
}

.background-image {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
    filter: blur(11px); /* Apply initial blur */
    transition: filter 0.5s; /* Add a transition effect for blur */
}

.hero-text {
    position: relative;
    z-index: 1; /* Overlay content on top of the image */
    font-weight: bold;
}

.hero h1 {
    font-size: 52px; /* Larger font size */
    font-family: var(--font-heading);
}
.hero p {
    font-size: 20px;
    font-family: var(--font-heading);
}

/* Hover effect to remove blur on hover */
/* .hero:hover .background-image {
    filter: blur(0);
} */


/* Mission Section Styles */
.mission {
    padding: 10px;
    text-align: center;
    margin: 0% 20% 5% 20%;

}

.mission h2 {
    font-size: 32px;
    font-family: var(--font-heading);
    color: var(--heading-col);
    margin:2%

}

.mission p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}


/* Online Resources & References Section Styles */
.online-resources-references {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #DFCCFB;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.online-resources-references .content {
    flex: 1;
    padding: 20px;
}

.online-resources-references h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: var(--font-heading);
    color: var(--heading-col);
}

.online-resources-references p {
    font-size: 20px;
    font-weight: bold;
}

.online-resources-references .visit-now-button {
    display: inline-block;
    background-color: #FFF8C9;
    color: var(--button-col);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
    font-family: var(--font-heading);

}

.online-resources-references .visit-now-button:hover {
    background-color: #fff8c9ac;
}

.online-resources-references img {
    width: 40%;
    height: 40%;
    border: #ccc;
    border-radius: 8px;
}


/* Sessions Section Styles */
.Sessions {
    padding: 20px;
    text-align: center;
    margin: 4% 20% 5% 20%;

}

.Sessions h2 {
    font-size: 28px;
    font-family: var(--font-heading);
    color: var(--heading-col);
}

.Sessions p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

/* Button Style for booking sessions */
.Sessions .book-session-button {
    display: inline-block;
    background-color: var(--button-bg-col);
    color: var(--button-col);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
    font-family: var(--font-heading);

}

.Sessions .book-session-button:hover {
    background-color: var(--button-bg-col-hover);
}


/* Join Us Styles */
.join-us {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--section-bg-col-1);
}

.join-content {
    text-align: right;
}

.join-content h2 {
    font-size: 28px;
    font-family: var(--font-heading);
    color: var(--heading-col);
}

.join-content p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.image-container img {
    width:50%;
    height: 50%;
    margin-left: 9rem;
    border: #ccc;
    border-radius: 10px;
}

.join-button {
    display: inline-block;
    background-color: var(--button-bg-col);
    color: var(--button-col);
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--font-heading);
    transition: background-color 0.3s;
}

.join-button:hover {
    background-color: var(--button-bg-col-hover);
}

/* Footer Styles */
.footer {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    color: var(--heading-text);
    font-weight: bold;
}

.contact h2 {
    font-size: 24px;
    font-family: var(--font-heading);
    color: var(--heading-col);
}

.contact a {
    text-decoration: none;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-icons img{
    width:5%;
    height:5%;

}

.button {
    display: inline-block;
    background-color: var(--button-bg-col);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-family: var(--font-heading);
    color: var(--button-col);
}

.button:hover {
    background-color: var(--button-bg-col-hover);
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navigation {
        margin-top: 20px;
    }

    .navigation li {
        margin: 0;
    }

    .auth-buttons {
        margin-top: 20px;
    }

    .signup-button, .login-button {
        margin-left: 0;
    }

    .hero {
        padding: 150px 0;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
    }


    .mission {
        margin: 0% 5% 5% 5%;
    }

    .mission h2 {
        font-size: 28px;
    }

    .online-resources-references {
        flex-direction: column;
        text-align: center;
    }

    .online-resources-references img {
        width: 80%;
        height: 80%;
    }

    .Sessions {
        margin: 0% 5% 5% 5%;
    }

    .Sessions h2 {
        font-size: 24px;
    }

    .Sessions p {
        font-size: 18px;
    }

    .Sessions .book-session-button {
        margin-top: 20px;
    }

    /* Join Us Styles for Mobile */
    .join-us {
        flex-direction: column-reverse;
        margin: 0% 5% 5% 5%;
    }

    .join-content {
        text-align: center;
    }

    .join-content h2 {
        font-size: 28px;
    }

    .join-content p {
        font-size: 20px;
    }

    .image-container img {
        margin-left: 0;
    }
}
