<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/error.css">

</head>
<body>
<%- include('../includes/navigation.ejs') %>
<h1>Some error occurred!</h1>
<p>We're working on fixing this, sorry for the inconvenience!</p>
<div style="margin-bottom: 20%">
<%- include('../includes/end.ejs') %>

