<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/contact.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
    <div class="contact-content">
        <h1>Contact Us</h1>
        <p>If you have any questions or need support, feel free to contact us. We are here to help you on your journey to better mental well-being. Reach out to us through the following channels:</p>
        <div class="contact-methods">
            <div class="contact-method">
                <img src="/images/email.png" alt="Email">
                <div class="method-info">
                    <h3>Email</h3>
                    <p>Send us an email at <a href="mailto:info@mentalhealthsupport.com">info@mentalhealthsupport.com</a></p>
                </div>
            </div>
            <div class="contact-method">
                <img src="/images/smartphone.png" alt="Phone">
                <div class="method-info">
                    <h3>Phone</h3>
                    <p>Call our support team at +1 (123) 456-7890</p>
                </div>
            </div>
        </div>
        <div class="social-media">
            <h2>Follow Us on Social Media</h2>
            <a href="#" class="social-icon contact-method"><img src="/images/instagram.png" alt="Instagram"><p>Follow us on Instagram</p></a>
            <a href="#" class="social-icon contact-method"><img src="/images/facebook.png" alt="Facebook"><p>Keep traking for updates on Facebook</p></a>
            <a href="#" class="social-icon contact-method"><img src="/images/twitter.png" alt="Twitter"><p>Like us on Twitter</p></a>
        </div>
    </div>

<%- include('../includes/end.ejs') %>
