<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Content - FreshMind</title>
    <link rel="stylesheet" type="text/css" href="./styles/course_content.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="company-name">
            <a href="./home.html">FreshMind</a>
        </div>
        <ul class="navigation">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./online_res.html">Online Resources</a></li>
            <li><a href="./book_session.html">Book A Session</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
            <li><a href="./feedback.html">Feedback</a></li>
        </ul>
        <div class="auth-buttons">
            <a href="signup.html" class="signup-button">Sign Up</a>
            <a href="login.html" class="login-button">Login</a>
        </div>
    </nav>
</header>

<section id="Chapter">

    <h1 class="mainHeading">Stress</h1>
    <h2>Introduction to Course.</h2>
    <p>Feeling stressed out? Learn how to manage stress effectively with our course. We are here to help you regain your peace of mind.</p>
    <div class="container1">
        <div>
            <h1> Chapter 1</h1>
            <ul>
                <li><img src="public/223002.png" alt=""><a href=""> Reading Material</a></li>
                <li><img src="public/30778-3-video-icon-transparent.png" alt=""><a href=""> Video</a></li>
                <li><img src="public/282091.png" alt=""><a href=""> Quiz</a></li>
            </ul>

        </div>

        <div>
            <h1> Chapter 2</h1>
            <ul>
                <li><img src="public/223002.png" alt=""><a href=""> Reading Material</a></li>
                <li><img src="public/30778-3-video-icon-transparent.png" alt=""><a href=""> Video</a></li>
                <li><img src="public/282091.png" alt=""><a href=""> Quiz</a></li>
            </ul>

        </div>

        <div>
            <h1> Chapter 3</h1>
            <ul>
                <li><img src="public/223002.png" alt=""><a href=""> Reading Material</a></li>
                <li><img src="public/30778-3-video-icon-transparent.png" alt=""><a href=""> Video</a></li>
                <li><img src="public/282091.png" alt=""><a href=""> Quiz</a></li>
            </ul>

        </div>

    </div>
</section>
<footer class="footer">
    <div class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or need support, feel free to contact us at <a href="mailto:info@mentalhealthsupport.com">info@mentalhealthsupport.com</a>.</p>
    </div>
    <div class="social-icons">
        <a href="#" class="social-icon"><img src="./public/email.png" alt="Email"><p>Email</p></a>
        <a href="#" class= "social-icon"><img src="./public/instagram.png" alt="Instagram"><p>Instagram</p></a>
        <a href="#" class="social-icon"><img src="./public/facebook.png" alt="Facebook"><p>Facebook</p></a>
        <a href="#" class="social-icon"><img src="./public/twitter.png" alt="Twitter"><p>Twitter</p></a>
    </div>
    <a href="contact.html" class="button">Contact Page</a>
</footer>
</body>
</html>