<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>


<div class="hero">
    <img src="/images/home_background.jpg" alt="Background Image" class="background-image">
    <div class="hero-text">
        <h1>Welcome to FreshMind</h1>
        <p>Your Compassionate Guide to Mental Well-being</p>
    </div>
</div>


<div class="mission">
    <h2>Our Mission</h2>
    <p>"Empowering university students to thrive in the face of mental health challenges is our unwavering mission. We're dedicated to providing a holistic range of resources and unwavering support to enhance your emotional well-being, so you can conquer stress, anxiety, and depression, and embark on a journey to a happier, healthier you."</p>
</div>

<div class="online-resources-references">
    <div class="content">
        <h2>Online Resources & References</h2>
        <p>Have you tired of paying money and visiting in person? We've got you covered with FreshMind, your one-step solution for mental well-being.</p>
        <a href="/auth/login" class="visit-now-button">Visit Now</a>
    </div>
    <img src="/images/online_res.jpg" alt="Online Resources Image">
</div>


<div class="Sessions">
    <h2>Therapy Sessions</h2>
    <p>Don't worry if online courses and resources aren't making you feel better. We've got you covered. Our therapy sessions offer a safe space for you to open up, share your thoughts, and work with experienced professionals to overcome your challenges. Explore a journey of self-discovery and healing with us.</p>
    <a href="/auth/login" class="book-session-button">Book Your Session</a>
</div>


<div class="join-us">
    <div class="join-content">
        <h2>Join Us</h2>
        <p>Ready to embark on a transformative journey to better mental health with us? Your path to self-discovery and emotional well-being begins here. Create an account to access our empowering resources and enriching courses.</p>
        <a href="/auth/signup" class="join-button">Create Account</a>
    </div>
    <div class="image-container">
        <img src="/images/join_us.jpg" alt="Join Us Image">
    </div>
</div>


<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>

</body>
</html>
