<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshMind</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="company-name">
            <a href="./home.html">FreshMind</a>
        </div>
        <ul class="navigation">
<!--            <li><a href="./home.html">Home</a></li>-->
<!--            <li><a href="./online_res.html">Online Resources</a></li>-->
<!--            <li><a href="./book_session.html">Book A Session</a></li>-->
<!--            <li><a href="./contact.html">Contact Us</a></li>-->
<!--            <li><a href="./feedback.html">Feedback</a></li>-->
        </ul>
        <div class="auth-buttons">
            <a href="/auth/signup" class="signup-button">Sign Up</a>
            <a href="/auth/login" class="login-button">Login</a>
        </div>
    </nav>
</header>

<!--
<div class="hero">
    <img src="/images/home_background.jpg" alt="Background Image" class="background-image">
    <div class="hero-text">
        <h1>Welcome to FreshMind</h1>
        <p>Your Compassionate Guide to Mental Well-being</p>
    </div>
</div>


<div class="mission">
    <h2>Our Mission</h2>
    <p>"Empowering university students to thrive in the face of mental health challenges is our unwavering mission. We're dedicated to providing a holistic range of resources and unwavering support to enhance your emotional well-being, so you can conquer stress, anxiety, and depression, and embark on a journey to a happier, healthier you."</p>
</div>

<div class="online-resources-references">
    <div class="content">
        <h2>Online Resources & References</h2>
        <p>Have you tired of paying money and visiting in person? We've got you covered with FreshMind, your one-step solution for mental well-being.</p>
        <a href="online_res.html" class="visit-now-button">Visit Now</a>
    </div>
    <img src="../public/images/online_res.jpg" alt="Online Resources Image">
</div>


<div class="Sessions">
    <h2>Therapy Sessions</h2>
    <p>Don't worry if online courses and resources aren't making you feel better. We've got you covered. Our therapy sessions offer a safe space for you to open up, share your thoughts, and work with experienced professionals to overcome your challenges. Explore a journey of self-discovery and healing with us.</p>
    <a href="book_session.html" class="book-session-button">Book Your Session</a>
</div>


<div class="join-us">
    <div class="join-content">
        <h2>Join Us</h2>
        <p>Ready to embark on a transformative journey to better mental health with us? Your path to self-discovery and emotional well-being begins here. Create an account to access our empowering resources and enriching courses.</p>
        <a href="signup.html" class="join-button">Create Account</a>
    </div>
    <div class="image-container">
        <img src="../public/images/join_us.jpg" alt="Join Us Image">
    </div>
</div>


<footer class="footer">
    <div class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or need support, feel free to contact us at <a href="mailto:info@mentalhealthsupport.com">info@mentalhealthsupport.com</a>.</p>
    </div>
    <div class="social-icons">
        <a href="#" class="social-icon"><img src="../public/images/email.png" alt="Email"><p>Email</p></a>
        <a href="#" class="social-icon"><img src="../public/images/instagram.png" alt="Instagram"><p>Instagram</p></a>
        <a href="#" class="social-icon"><img src="../public/images/facebook.png" alt="Facebook"><p>Facebook</p></a>
        <a href="#" class="social-icon"><img src="../public/images/twitter.png" alt="Twitter"><p>Twitter</p></a>
    </div>
    <a href="contact.html" class="button">Contact Page</a>
</footer>
-->
</body>
</html>
