<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Assessment - FreshMind</title>
    <link rel="stylesheet" type="text/css" href="./styles/self_assessment.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="company-name">
                <a href="./home.html">FreshMind</a>
            </div>
            <ul class="navigation">
                <li><a href="./home.html">Home</a></li>
                <li><a href="./online_res.html">Online Resources</a></li>
                <li><a href="./book_session.html">Book A Session</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
                <li><a href="./feedback.html">Feedback</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="signup.html" class="signup-button">Sign Up</a>
                <a href="login.html" class="login-button">Login</a>
            </div>
        </nav>
    </header>

    <div class="self-assessment-container">
        <h1>Psychological Self-Assessment</h1>
        <form id="self-assessment-form">
            <div class="question">
                <p>Question 1: How often do you feel nervous or anxious?</p>
                <select name="question1">
                    <option value="not-at-all">Not at all</option>
                    <option value="sometimes">Sometimes</option>
                    <option value="often">Often</option>
                    <option value="always">Always</option>
                </select>
            </div>
            <div class="question">
                <p>Question 2: How often do you feel sad or down?</p>
                <select name="question2">
                    <option value="not-at-all">Not at all</option>
                    <option value="sometimes">Sometimes</option>
                    <option value="often">Often</option>
                    <option value="always">Always</option>
                </select>
            </div>
            <div class="question">
                <p>Question 3: How often do you experience difficulty concentrating or making decisions?</p>
                <select name="question3">
                    <option value="not-at-all">Not at all</option>
                    <option value="sometimes">Sometimes</option>
                    <option value="often">Often</option>
                    <option value="always">Always</option>
                </select>
            </div>
            
            <div class="question">
                <p>Question 4: How often do you feel irritable or easily annoyed?</p>
                <select name="question4">
                    <option value="not-at-all">Not at all</option>
                    <option value="sometimes">Sometimes</option>
                    <option value="often">Often</option>
                    <option value="always">Always</option>
                </select>
            </div>
            
            <div class="question">
                <p>Question 5: How often do you experience changes in appetite or weight?</p>
                <select name="question5">
                    <option value="not-at-all">Not at all</option>
                    <option value="sometimes">Sometimes</option>
                    <option value="often">Often</option>
                    <option value="always">Always</option>
                </select>
            </div>
            
            <div class="question">
                <p>Question 6: How often do you feel physically unwell or have unexplained aches and pains?</p>
                <select name="question6">
                    <option value="not-at-all">Not at all</option>
                    <option value="sometimes">Sometimes</option>
                    <option value="often">Often</option>
                    <option value="always">Always</option>
                </select>
            </div>
            
            <div class="question">
                <p>Question 7: How often do you experience thoughts of self-harm or suicide?</p>
                <select name="question7">
                    <option value="not-at-all">Not at all</option>
                    <option value="sometimes">Sometimes</option>
                    <option value="often">Often</option>
                    <option value="always">Always</option>
                </select>
            </div>
        </form>
    </div>
    <div class="submit-button">
        <a href="online_res.html">
            <button class="button" type="submit">Submit</button>
        </a>
    </div>
    <footer class="footer">
        <div class="contact">
            <h2>Contact Us</h2>
            <p>If you have any questions or need support, feel free to contact us at <a href="mailto:info@mentalhealthsupport.com">info@mentalhealthsupport.com</a>.</p>
        </div>
        <div class="social-icons">
            <a href="#" class="social-icon"><img src="../public/images/email.png" alt="Email"><p>Email</p></a>
            <a href="#" class="social-icon"><img src="../public/images/instagram.png" alt="Instagram"><p>Instagram</p></a>
            <a href="#" class="social-icon"><img src="../public/images/facebook.png" alt="Facebook"><p>Facebook</p></a>
            <a href="#" class="social-icon"><img src="../public/images/twitter.png" alt="Twitter"><p>Twitter</p></a>
        </div>
        <a href="contact.html" class="button">Contact Page</a>
    </footer>
</body>
</html>
